@page "/post/edit/{id}"
@layout PostLayout
@using WYSIWYGTextEditor;
@using ObakiSite.Application.Features.Posts.Commands;
@using ObakiSite.Application.Features.Posts.Queries;
@using ObakiSite.Application.Shared;
@inject ISender Mediatr
@inject ISnackbar Snackbar
@inject NavigationManager NavManager

@*Todo: implement authorization*@
<MudPaper Class="mt-16 mb-4" Elevation="1" Outlined="true">
    <MudTextField Style="font-size: 30px" T="string" Class="ma-4 mb-5" @bind-Value="title" Immediate="true" Variant="Variant.Text" Lines="2" />
    <div id="scrollableDiv1" class="ma-4">
        <TextEditor @ref="EditRichTextEditor" Placeholder="write a post..." DebugLevel="error">
            <ToolbarContent>
                <div class="@_textEditorCssTheme">
                    <select class="ql-header">
                        <option selected=""></option>
                        @for (int i = 1; i < 7; i++)
                        {
                            <option value="@i"></option>
                        }

                    </select>
                    <button class="ql-font" title="Font Size" />
                    <MudTooltip Text="Bold Ctrl+B" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-bold" />
                    </MudTooltip>
                    <MudTooltip Text="Italic Ctrl+I" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-italic" />
                    </MudTooltip>
                    <MudTooltip Text="Underline Ctrl+U" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-underline" />
                    </MudTooltip>
                    <MudTooltip Text="Strike" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-strike" />
                    </MudTooltip>
                    <MudTooltip Text="Color" Color="Color.Primary" Placement="Placement.Bottom">
                        <select class="ql-color" />
                    </MudTooltip>
                    <MudTooltip Text="Background" Color="Color.Primary" Placement="Placement.Bottom">
                        <select class="ql-background" />
                    </MudTooltip>
                    <MudTooltip Text="List" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-list" value="ordered" />
                    </MudTooltip>
                    <MudTooltip Text="Bullet" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-list" value="bullet" />
                    </MudTooltip>
                    <MudTooltip Text="Indent Left" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-indent" value="-1" />
                    </MudTooltip>
                    <MudTooltip Text="Indent Right" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-indent" value="+1" />
                    </MudTooltip>
                    <MudTooltip Text="Code Block" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-code-block" />
                    </MudTooltip>
                    <MudTooltip Text="Video Link" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-video" />
                    </MudTooltip>

                    <MudTooltip Text="Image" Color="Color.Primary" Placement="Placement.Bottom">
                        <button class="ql-image"></button>
                    </MudTooltip>
                </div>
            </ToolbarContent>
        </TextEditor>
    </div>
    <MudDivider Class="ma-4" />
    <div class="d-flex justify-end flex-row ma-4">
        <div class="mr-4">
            @if (!isPosting)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="@ModifyPost">Save Changes</MudButton>
            }
            else
            {
                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
            }
        </div>
    </div>
</MudPaper>

@code
{
    //todo: consolidate all default settings
    [CascadingParameter]
    protected bool _isDarkMode { get; set; }
    [Parameter]
    public string Id { get; set; } = string.Empty;
    private MudTheme _theme = Theme.Default();
    private string _textEditorCssTheme = string.Empty;
    private bool isPosting = false;
    private bool islaoding = false;
    private TextEditor? EditRichTextEditor;
    private string title { get; set; } = "Write your title here...";

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            var result = await Mediatr.Send(new GetPostById(Id));
            if (result.Data is not null && result.IsSuccess)
            {
                title = result.Data.Title;
                if (EditRichTextEditor is not null)
                {
                    await EditRichTextEditor.LoadHTMLContent(result.Data.HtmlBody);
                }
                islaoding = true;
            }
        }

        _textEditorCssTheme = _isDarkMode ? "ql-bubble" : "ql-snow";
    }

    private async Task ModifyPost()
    {
        isPosting = true;
        var textContent = await GetHtmlStringValue();
        var post = new PostDTO
            {
                Id = Guid.Parse(Id),
                Created = DateTime.Now,
                HtmlBody = textContent,
                Title = title
            };
        var command = new UpdatePost(post);
        var result = await Mediatr.Send(command);

        Notify(result, "post");
        isPosting = false;

        if (result.IsSuccess)
        {
            await Mediatr.Send(new ClearDraftPost());
            NavManager.NavigateTo($"/post/view/{post.Id}");
        }
    }

    //Helper Methods
    private async Task<string> GetHtmlStringValue()
    {
        return EditRichTextEditor != null ? await EditRichTextEditor.GetHTML() : string.Empty;
    }

    private void Notify(Result result, string origin)
    {
        //Todo: refine how messages are displayed
        //Todo: create a utility service that can be utilized by different pages.
        if (result.IsSuccess)
        {
            var message = origin switch
            {
                "post" => "Changes saved.",
                "draft" => "Draft saved.",
                _ => ""
            };
            Snackbar.Add(message, Severity.Success);
        }
        else
        {
            //if (result.Messages.Count > 0)
            //{
            //    foreach (var error in result.Messages)
            //        Snackbar.Add(error, Severity.Error);
            //}
            var errorMessage = origin switch
            {
                "post" => "Sorry, unable to save your post.",
                "draft" => "Sorry, draft was not saved.",
                _ => ""
            };
            Snackbar.Add(errorMessage, Severity.Error);
        }
        StateHasChanged();
    }
}
