@page "/post/view/summaries"
@using ObakiSite.Application.Features.Posts.Queries;
@inject ISender Mediatr
@inject NavigationManager NavManager
<PageTitle>Home</PageTitle>

@if (posts == null)
{
    <div class="d-flex flex-row flex-grow-1 gap-4">
        <div style="width:50%">
        </div>
        <div class="d-flex flex-column flex-grow-1 gap-4">
            @for (int i = 0; i < 5; i++)
            {
                <MudPaper Outlined="true" Elevation="25" Width="700px" Height="200px">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Color="Color.Secondary">A</MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudSkeleton Width="90%" Animation="Animation.Wave" />
                                <MudSkeleton Width="90%" Animation="Animation.Wave" />
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudSkeleton Width="90%" Animation="Animation.Wave" />
                    </MudCard>
                </MudPaper>
            }
        </div>
        <div style="width:50%">
        </div>
    </div>
}
else
{
    <div class="d-flex flex-row flex-grow-1 gap-4">
        <div style="width:50%">
        </div>
        <div class="d-flex flex-column flex-grow-1 gap-4">
            @foreach (var post in posts)
            {
                <MudPaper Outlined="true" Elevation="25">
                    <MudCard Elevation="0" @onclick="@(e => NavManager.NavigateTo($"/post/view/{post.Id}"))">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Color="Color.Secondary">A</MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@post.Author</MudText>
                                <MudText Typo="Typo.caption">Posted on @post.CreationDate</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudText Class="ma-4" GutterBottom="true" Typo="Typo.h6">@post.Title</MudText>
                    </MudCard>
                </MudPaper>
            }
        </div>
        <div style="width:50%">
        </div>
    </div>
}
@code {
    private IReadOnlyList<PostSummaryDTO>? posts { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result = await Mediatr.Send(new GetPostSummaries());
        if (result.Data is not null && result.IsSuccess)
        {
            posts = result.Data;
        }
    }
}