@page "/post/view/{id}"
@using ObakiSite.Application.Features.Posts.Queries;
@inject ISender Mediatr
@if (post == null)
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999" AutoClose="true">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
    </MudOverlay>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Elevation="1" Class="ma-4">
            <MudCard Elevation="0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">A</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@post.Author</MudText>
                        <MudText Typo="Typo.caption">Posted on @post.CreationDate</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
            <div class="ml-4">
                <MudText Style="font-size:35px" Typo="Typo.body2">@post.Title</MudText>
            </div>
            <div class="ma-4">
                @htmlBody
            </div>
        </MudPaper>
    </MudContainer>
}

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;
    private MarkupString htmlBody;
    private PostDTO? post;

    protected override async Task OnInitializedAsync()
    {
        var result = await Mediatr.Send(new GetPostById(Id));
        if (result.Data is not null && result.IsSuccess)
        {
            post = result.Data;
            htmlBody = (MarkupString)post.HtmlBody;
        }
    }
}
