@inherits LayoutComponentBase
<MudLayout>
     <ErrorBoundary>
            <ChildContent>  @Body </ChildContent>
            <ErrorContent Context="Exception">
                <MudChip Color="Color.Secondary">@Exception.GetType()</MudChip>
                <MudChip Color="Color.Secondary">@Exception.Message</MudChip>
                <p class="errorUI">Nothing to see here right now. Sorry!</p>
            </ErrorContent>
        </ErrorBoundary>
    <MudScrollToTop>
        <MudFab Color="Color.Tertiary" Icon="@Icons.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudLayout>
@code {

}
