@inherits LayoutComponentBase
@inject ISender Mediator
<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="0">
        <MudContainer MaxWidth="MaxWidth.Large">
            <div class="d-flex align-center" Elevation="1">
                <MudText Typo="Typo.h6">joshuajpiluden</MudText>
                <MudSpacer />
            </div>
        </MudContainer>

    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4">
            <ErrorBoundary>
                <ChildContent>  @Body </ChildContent>
                <ErrorContent Context="Exception">
                    <MudChip Color="Color.Secondary">@Exception.GetType()</MudChip>
                    <MudChip Color="Color.Secondary">@Exception.Message</MudChip>
                    <p class="errorUI">Nothing to see here right now. Sorry!</p>
                </ErrorContent>
            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    [CascadingParameter] public CascadingAppState? AppState { get; set; }
    private MudTheme _theme = Theme.Default();
    private bool _isDarkMode = true;
    bool _drawerOpen = false;

    
}
