@page "/"
@using ObakiSite.Application.Features.Posts.Queries;
@inject ISender Mediatr
@inject NavigationManager NavManager
<PageTitle>Home</PageTitle>


<div class="d-flex flex-row flex-grow-1 gap-4">
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <div class="align-self-start flex-1" >
                <MudList Clickable="true">
                    <MudListItem Text="Home" Icon="@Icons.Material.Filled.Home" Href="/" />
                    <MudListItem Text="Chat Demo" Icon="@Icons.Material.Filled.Chat" Href="/livechat" />
                </MudList>
        </div>
    </MudHidden>
    <ObakiSite.Client.Pages.Posts.ViewPostSummaries />

</div>

@code {

}
