@page "/projects"
@using ObakiSite.Application.Features.Github.Queries;
@inject ISender Mediatr
@inject ISnackbar Snackbar
<PageTitle>Projects</PageTitle>

@if (githubProjects is null)
{
    <div class="d-flex justify-center flex-row flex-wrap gap-4">
        @for (int i = 0; i < 3; i++)
        {
            <MudCard Style="width:300px;height:500px;">
                <MudCardHeader Style="height:100px;" Class="mt-2">
                    <CardHeaderContent>
                        <MudSkeleton Width="90%" Animation="Animation.Wave" />
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudSkeleton Width="100%" Animation="Animation.Wave" />
                    
                </MudCardContent>
            </MudCard>
        }

    </div>
}
else
{
    <div class="d-flex justify-center flex-row flex-wrap gap-4">

        @foreach (var repo in githubProjects)
        {

            <MudCard Class="mx-2" Style="width:300px;" Elevation="2">
                <MudCardHeader Style="height:100px;" Class="mt-2">
                    <CardHeaderContent>
                        <MudText Align="Align.Left" Typo="Typo.subtitle1">@repo.Name </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body2">@repo.Description</MudText>
                </MudCardContent>
            </MudCard>

        }

    </div>
}

@code {
    private List<GithubRepoInfo>? githubProjects;
    //Todo: Check github api document if this can be queried instead.
    private List<string> currentRepos = new List<string> { "ObakiSite", "Obaki.LocalStorageCache" };
    protected override async Task OnInitializedAsync()
    {
        //Todo: Save data  in local storage to minimize API calls?
        githubProjects = new();
        foreach (string repo in currentRepos)
        {
            var result = await Mediatr.Send(new GetRepoInfo("obaki102", repo));
            if (result.IsSuccess && result.Value is not null)
            {
                githubProjects.Add(result.Value);
            }
            else
            {
                Snackbar.Add("Sorry, unable to connect to Github API.", Severity.Error);
            }
        }
    }
}
